
.modal-mask
    position fixed
    overflow auto
    top 0
    right 0
    bottom 0
    left 0
    z-index 1000
    outline 0
    background rgba(0, 0, 0, .2)

.modal-content
    position fixed
    bottom 50%
    right 50%
    margin-bottom -200px
    margin-right -250px
    width 500px
    height 400px
    z-index 1000
    background #03A9F4
    color #fff

    &-tool
        font-size 40px
        text-align right

    &-text
        font-size 250px

    span
        font-size 40px

.tool
    position fixed
    font-size 40px
    right 20px
    bottom 20px
    width 100px
    height 100px
    background #f44336
    color #fff
    z-index 1000