.normal {
    font-family: Georgia, sans-serif;
    padding-top: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -1px;
}

.welcome {
    height: 300px;
    background: url(../assets/yay.jpg) no-repeat center 0;
    background-size: auto 100%;
}

.list {
    font-size: 18px;
    margin-top: 12px;
    padding: 0;
    list-style: none;
    line-height: 12px;
}

.list-item {
    margin: 20px 0;
}

.list code {
    background: #f7f7f7;
}