.none
    width 100%
    height 800px
    display flex
    align-items center
    padding-bottom 10%
    justify-content center
    flex-direction column
    background #fff
    color #bbb
    font-size 14px
    border-radius 4px

    &>img
        margin-bottom 10px
