.container
    width 100%
    overflow-x auto
    overflow-y hidden

    canvas
        width 100% !important

.none
    display flex
    justify-content center
    align-items center
    font-size 14px
    color rgba(0, 0, 0, .45)
    min-height 400px

.donut
    width 100%
