.header
    position fixed
    top 0
    left 0
    background #001529
    box-shadow 0 15px 23px 0 rgba(27, 41, 55, .06)
    width 100%
    height 60px
    line-height 60px
    display flex
    color white
    align-items center
    padding 0 40px
    z-index 999

    .btn_logout
        background-image url('../../images/app/logout.png')
        background-position left center
        background-repeat no-repeat
        padding-left 20px
        cursor pointer
        margin-left 30px

.main
    display flex
    padding-top 60px
    min-height 100vh
    background #E8EFF6

aside.aside
    position fixed
    top 60px
    left 0
    background #001529
    width 180px
    height calc(100vh - 60px)
    overflow-y auto
    flex none
    z-index 999

.content
    min-width 800px
    padding 30px
    background #fff
    flex 1
